.box
{
	width: 400px;
    height: 250px;
    padding: 45px;
    background-color: #efefef;
    box-shadow: 10px 10px 5px #888888;
    margin-left: 300px;
    margin-top: 30px;
}
.box h3
{
	text-align: center;
}
.reg-box
{	
    height: 1200px;
    padding: 45px;
    background-color: #efefef;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 30px;
}
.reg-box h3
{
	text-align: center;
}
.btn
{
	text-align: center;
	margin-left: 110px;
}
.img-box
{
	margin-top: 50px;
	height: 200px;
	width: 200px;
	background-color: #efefef;
}
.btn
{
	margin-top: 15px;
    margin-left: 100px;
    position: absolute;
}
.profile-box
{
	height: 950px;
    padding: 45px;
    background-color: #efefef;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 50px;
}
.profile-box h3
{
    text-align: center;
    margin-top: -10px;
}
.profile-name
{
	position: relative;
	height: 100px;
	margin-top: 20px;
}
.error
{
	color: #ff0000;
}
.file-heandal
{
	margin-top: 10px;
}
.glyphicon
{
    clear: left;
    position: absolute;
    margin-left: -40px;
    margin-top: 25px;
}
.login-icon
{
    float: right;
    height: 50px;
}
.login-status
{
    float: right;
}
.login-status ul li
{ 
    text-decoration: none;
}
.edit-btn
{
    margin-left: 100px;
}
.logout
{
    height: 50px;
}
.logout a
{
    float: right;
    margin-top: -50px;
    margin-right: 50px;
}
.logout h3
{
    padding-left: 20px;
}