.box
{
	width: 400px;
    height: 250px;
    padding: 45px;
    background-color: #efefef;
    box-shadow: 10px 10px 5px #888888;
    margin-left: 300px;
    margin-top: 30px;
}
.box h3
{
	text-align: center;
}
.reg-box
{	
    height: 1200px;
    padding: 45px;
    background-color: #efefef;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 30px;
}
.reg-box h3
{
	text-align: center;
}
.btn
{
	text-align: center;
	margin-left: 110px;
}
.img-box
{
	margin-top: 50px;
	height: 200px;
	width: 200px;
	background-color: #efefef;
}
.btn
{
	margin-top: 15px;
    margin-left: 60px;
    position: absolute;
}
.profile-box
{
	 height: 1100px;
    padding: 45px;
    background-color: #efefef;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 50px;
}
.profile-name
{
	position: relative;
	height: 100px;
	margin-top: 20px;
}
.error
{
	color: #ff0000;
}
.file-heandal
{
	margin-top: 10px;
}
.glyphicon
{
    margin-top: 20px;
}
.login-status
{
    float: right;
    margin-right: 20px;
    text-decoration: none;
}
.edit-btn
{
    margin-left: 100px;
}